h1 {
    color: #000;
    text-align: center;
    font-size: 32px;

    
}
h2 {
    border-left: 4px solid blue;
    background: lightblue;            
}

p {
    font-family: Verdana;
    
}

ul {
    line-height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

li a {
    border: 1px solid;
    background: #808;
    font-size: 33px;
    padding: 15px 30px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    background-color: #333;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    background: #fff;
    color: #000;
    
}
.main {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
    background-color: aquamarine;
}
.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
}
.btn:hover {
    background: #fff;
    color: #000;
}
/* .sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
} */